span{
    color: blueviolet;
}

h1{
    margin-left: 20%;
    font-size: 50px;
}

h2{
    font-size: 35px;
    margin-left: 0%;
}

.img{
    width: 45vh;
    height: 50vh;
}

.form1 input{
    width: 20%;
    padding: 10px;
    border: 1p solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;
}

.form1 label{
    
    
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
}

.form2 input{
    width: 20%;
    padding: 10px;
    border: 1p solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;
}

.form2 label{
    
    
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
}


label{
    margin-right: 15px;
    
}
body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
}

button{
    color: #2ecc71;
    background: transparent;
    border: solid 1px black;
    padding: 5px;
    border-radius: 15px;
    font-size: 20px;
    width: 230px;
    font-weight: bold;
    margin-left: 120px;
}

button:hover{
    background-color: #2ecc71;
    color: #fff;
    transition: 0.5s;
}